.cart-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px; /* Add margin-bottom for space */
}

.header-item  {
  flex-basis: 40%; /* Adjust the width of each header */
}
.header-price{
  flex-basis: 10%;
}
.header-quantity{
  flex-basis: 30%;
}
/* CSS file */
.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cart-item-details {
  display: flex;
  align-items: center;
}

.cart-item-details > div {
  margin-right: 10px;
}

.cart-total {
  margin-top: 10px;
}
