/* Product.css */
.product-card {
    width: 250px; /* Adjust width as needed */
    margin: 10px;
    border: 1px solid #ccc; /* Border color */
    border-radius: 10px;
    overflow: hidden;
  }
  
  .product-image {
    height: 200px; /* Adjust height as needed */
    background-size: cover;
    background-position: center;
  }
  
  .product-image:hover {
    opacity: 0.8; /* Add hover effect */
  }
  
  .product-card .card-body {
    text-align: center;
  }
  