.meal-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem; /* Reduce padding */
    border-bottom: 2px solid #ccc;
    height: 8rem; /* Adjust height */
    width: 100%; /* Adjust width */
  }
  
  .details {
    flex: 1;
  }
  
  .actions {
    margin-left: 2rem;
    color: black;
  }
  
  .description {
    font-style: italic;
    color: #888;
  }
  
  
  .actions button {
    font: inherit;
    cursor: pointer;
    background-color: #161514;
    border: 1px solid #161514;
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 20px;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #641e03;
    border-color: #641e03;
  }
  
  
  
  .actions button {
    font: inherit;
    cursor: pointer;
    background-color: #161514;
    border: 1px solid #161514;
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 20px;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #641e03;
    border-color: #641e03;
  }

  .price {
    margin-top: 0.25rem;
    font-weight: bold;
    color: #1a1917;
    font-size: 1.25rem;
  }
  .form {
    text-align: right;
  }
  